 <!-- Contendio -->
    <div class="nosotros01">
        <h2>Clie<span>ntes</span></h2>
    </div>
    <main class="cajaclientes">
        <div class="cliente">
            <div class="cajaimg">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <h3>Nombre</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sapiente fugiat iusto aspernatur quisquam
                nobis magni sunt eaque minus earum dolore, aperiam voluptatem quam, ratione recusandae. Eligendi veniam
                non dolor!
            </p>
        </div>
        <div class="cliente">
            <div class="cajaimg">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <h3>Nombre</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sapiente fugiat iusto aspernatur quisquam
                nobis magni sunt eaque minus earum dolore, aperiam voluptatem quam, ratione recusandae. Eligendi veniam
                non dolor!
            </p>
        </div>
        <div class="cliente">
            <div class="cajaimg">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <h3>Nombre</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sapiente fugiat iusto aspernatur quisquam
                nobis magni sunt eaque minus earum dolore, aperiam voluptatem quam, ratione recusandae. Eligendi veniam
                non dolor!
            </p>
        </div>
        <div class="cliente">
            <div class="cajaimg">
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <h3>Nombre</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sapiente fugiat iusto aspernatur quisquam
                nobis magni sunt eaque minus earum dolore, aperiam voluptatem quam, ratione recusandae. Eligendi veniam
                non dolor!
            </p>
        </div>
    </main>
    <!-- Contenido -->