<!-- Contenido de la pagina -->
<main>

    <div class="nosotros01">
        <h2>Nosot<span>ros</span></h2>
    </div>

    <div class="info01">
        <h3>Trayectoria</h3>
        <p>
            Desde octubre de 2020 NOISE RECORDS ARGENTINA ha tenido el compromiso de brindar a sus estudiantes la
            capacidad de formarse con un amplio número de horas, teoría precisa y práctica, que los capacite para operar
            una Emisora, un Estudio de Grabación, o perfilarlos como grandes Locutores y/o Actores de Doblaje. Es ésta
            nuestra pasión y compromiso con el Medio audiovisual en Argentina.
        </p>
    </div>

    <div class="equipo">
        <h2>Equipo</h2>
    </div>

    <div class="nosotrosinfo">
        <div class="containerinfo">
            <div class="containerimg">
                <img src="/images/P1.jpg" alt="">
            </div>
            <h4>Paula Martinez</h4>
            <p>Actriz de Doblaje</p>
        </div>
        <div class="containerinfo">
            <div class="containerimg">
                <img src="/images/P2.jpg" alt="">
            </div>
            <h4>Agustin Perez</h4>
            <p>Presentador</p>
        </div>
        <div class="containerinfo">
            <div class="containerimg">
                <img src="/images/P3.jpg" alt="">
            </div>
            <h4>Dora Gutierrez</h4>
            <p>Actriz de Doblaje</p>
        </div>
        <div class="containerinfo">
            <div class="containerimg">
                <img src="/images/P4.png" alt="">
            </div>
            <h4>Jorge Alvarez</h4>
            <p>Locutor</p>
        </div>
        <div class="containerinfo">
            <div class="containerimg">
                <img src="/images/P5.png" alt="">
            </div>
            <h4>Arturo Velez</h4>
            <p>Narrador</p>
        </div>
        <div class="containerinfo">
            <div class="containerimg">
                <img src="/images/P6.png" alt="">
            </div>
            <h4>Nahuel Loizzo</h4>
            <p>Locutor</p>
        </div>
    </div>

    <div class="nosotros01">
        <h2>Traba<span>jos</span></h2>
    </div>


</main>

<!-- Contenido de la pagina -->