    <!-- Contenido de la pagina -->
    <main>

        <div class="nosotros01">
            <h2>Nosot<span>ros</span></h2>
        </div>

        <div class="info01">
            <h3>Trayectoria</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit iste minus harum incidunt adipisci
                accusamus quam animi deleniti placeat delectus inventore error, debitis, rem alias rerum perferendis
                tempora voluptate? Tenetur? 
            </p>
        </div>

        <div class="equipo">
            <h2>Equipo</h2>
        </div>

        <div class="nosotrosinfo">
            <div class="containerinfo">
                <div class="containerimg">
                    <img src="../public/images/P1.jpg" alt="">
                </div>
                <h4>Jorge Alvarez</h4>
                <p>Actor de Doblaje</p>
            </div>
            <div class="containerinfo">
                <div class="containerimg">
                    <img src="../public/images/P2.jpg" alt="">
                </div>
                <h4>Agustin Perez</h4>
                <p>Presentador</p>
            </div>
            <div class="containerinfo">
                <div class="containerimg">
                    <img src="../public/images/P3.jpg" alt="">
                </div>
                <h4>Alberto Gutierrez</h4>
                <p>Productor</p>
            </div>
            <div class="containerinfo">
                <div class="containerimg">
                    <img src="../public/images/P4.png" alt="">
                </div>
                <h4>Paula Martinez</h4>
                <p>Locutora</p>
            </div>
            <div class="containerinfo">
                <div class="containerimg">
                    <img src="../public/images/P5.png" alt="">
                </div>
                <h4>Arturo Velez</h4>
                <p>Narrador</p>
            </div>
            <div class="containerinfo">
                <div class="containerimg">
                    <img src="../public/images/P6.png" alt="">
                </div>
                <h4>Nahuel Loizzo</h4>
                <p>Locutor</p>
            </div>
        </div>

        <div class="nosotros01">
            <h2>Traba<span>jos</span></h2>
        </div>


    </main>

    <!-- Contenido de la pagina -->